@page "/"

<div class="container my-5">
    <h2>Welcome to the ToDo App</h2>

    <p>
        This is the home page. Use the navigation buttons below (in the layout)
        to view the to-do list or create new tasks.
    </p>

    <hr />

    <p>
        <strong>Quick Links:</strong><br />
        <a class="btn btn-primary" href="/todolist">View ToDo List</a>
        <a class="btn btn-secondary ms-2" href="/createtodo">Create New ToDo</a>
    </p>
</div>
